.app-container {
  display: flex;
  position: relative;
}
.main {
  flex: 1;
}
.row .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}
